<div class="recipe-details d-flex" *ngIf="recipe; else noRecipe">
  <div>
    <div class="mb-1" style="max-width: 100%; max-height: 500px;overflow: hidden">
      <img src="{{recipe.imgPath}}" alt="{{recipe.title}}" class="img-fluid">
    </div>
    <h2 class="mb-1">{{recipe.title}}</h2>
    <p>{{recipe.description}}</p>
  </div>
  <div class="dropdown ms-4">
    <button class="btn btn-secondary dropdown-toggle"
            [ngClass]="{'show': r.show}"
            type="button"
            data-bs-toggle="dropdown"
            attr.aria-expanded="{{r.show ? 'true' : 'false'}}"
            dvDropdown
            #r="dvDropdown">
      Manage Recipe
    </button>
    <ul class="dropdown-menu" [ngClass]="{'show': r.show}">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>
</div>
<ng-template #noRecipe>
  <div class="alert alert-danger">No Recipe!</div>
</ng-template>
