<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/'">Recipe Book</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a aria-current="page" class="nav-link" [routerLink]="'/ingredient'" [routerLinkActive]="'active'">
            Ingredients
          </a>
        </li>
        <li class="nav-item dropdown">
          <a aria-expanded="false"
             class="nav-link dropdown-toggle"
             data-bs-toggle="dropdown"
             role="button"
             dvDropdown
            #r="dvDropdown">
            Manage
          </a>
          <ul class="dropdown-menu" [ngClass]="{'show': r.show}">
            <li><a class="dropdown-item" (click)="onFetchRecipes()">Fetch Recipes</a></li>
            <li><a class="dropdown-item" (click)="onSaveRecipes()">Save Recipes</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
