<div class="text-center" *ngIf="loading">
  <ui-loading-spinner></ui-loading-spinner>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-6">
    <a routerLink="/recipe/new" class="btn btn-primary mb-3">New Recipe</a>
    <div class="recipe-items list-group" *ngIf="recipes">
      <a class="recipe-item d-flex align-items-center justify-content-between text-decoration-none list-group-item" routerLinkActive="active"
         *ngFor="let recipe of recipes; let index=index"
         routerLink="{{index}}">
        <div style="max-width: 65%">
          <h3>{{recipe.name}}</h3>
          <p>{{recipe.description}}</p>
        </div>
        <div style="height: 110px; width: 110px; overflow: hidden">
          <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid">
        </div>
      </a>
    </div>
  </div>
  <div class="col-6">
    <router-outlet></router-outlet>
  </div>
</div>
